@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
}

main {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
}

.top {
    background: url(images/bg-pattern-top.svg) no-repeat center center / cover;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.bottom {
    background: url(images/bg-pattern-bottom.svg) no-repeat center center / cover;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
}

#card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.card-bg {
    position: relative;

}

#profile-pic {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    border-radius: 50%;
    box-shadow: 0 0 0 0.3em #fff;
}

.card-text {
    padding-top: 80px;
}

#profile-details {
    text-align: center;
}

#age,
#state,
.count-obj {
    color: #6a6f81;
    font-weight: 200;
}

#state {
    margin: 15px;
}

.card-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 15px auto;
}

.prop {
    text-align: center;
}





